* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    background-color: bisque;
}
img {
    height: 9em !important;
    width: 9em !important;
}

.main {
    display: grid;
    justify-content: center;
    align-items: center;
    .main-header {
        //text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1em;
        .header {
            color: rgb(251, 23, 23);
            font-weight: 200;
            font-size: 3em;
        }
        .our-menu {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            margin-block-end: 1em;
            width: 7em;
        }
    }
    .menu-des {
        text-align: center;
    }

    .pizza-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
        width: 68%;
        justify-self: center;
        justify-content: space-evenly;
        padding-block: 2em;

        .pizzas {
            display: flex;
            box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.2);
            gap: 1em;
            transition: all 0.8s ease-in-out;

            .content {
                display: grid;
                justify-content: space-evenly;
                h2 {
                }
                p {
                    font-weight: 100;
                    font-size: 0.9em;
                    font-style: italic;
                    line-height: 1em;
                    padding-block: 8px;
                }
            }

            &:hover {
                transform: translateY(3px);
                box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.2);
            }
        }
        .sold-out {
            display: flex;
            box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.2);
            gap: 1em;
            transition: all 0.8s ease-in-out;
            filter: grayscale(0.6);

            .content {
                display: grid;
                justify-content: space-evenly;
                h2 {
                }
                p {
                    font-weight: 100;
                    font-size: 0.9em;
                    font-style: italic;
                    line-height: 1em;
                    padding-block: 8px;
                }
            }
        }
    }

    .footer {
        text-align: center;
        padding-block-end: 1em;
    }

    button {
        width: 9.5em;
        justify-self: center;
        height: 50px;
        text-align: center;
        margin-block-end: 2em;
        border-radius: 4px;
        border: 1px solid black;
        cursor: pointer;
        background-color: rgb(221, 103, 103);
        margin-block-start: 1em;
    }
}
